<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>teleHealth</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="/admin">teleHealth | Admin</a>
            <ul class="nav navbar-nav">
                <li class="nav-item" role="presentation"></li>
                <li class="nav-item" role="presentation"></li>
                <li class="nav-item" role="presentation"></li>
            </ul><button class="navbar-toggler" data-toggle="collapse"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <ul class="nav navbar-nav">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="/admin">Home</a></li>
                <li class="nav-item" role="presentation"></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/login.html">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="col">
            <div class="container">
                <a class="card-link" href="/admin/admin-doctors">Back</a>
            </div>
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Dr. <%= doctor.names %></h4>
                        <h6 class="text-muted card-subtitle mb-2">License : <%= doctor.license_number%></h6>
                        <h6 class="text-muted card-subtitle mb-2">Speciality: <%= doctor.speciality%></h6>
                        <h6 class="text-muted card-subtitle mb-2">Hospital: <%= doctor.hospital %></h6>
                        <h6 class="text-muted card-subtitle mb-2">Active since - <%=doctor.createdAt.getDate() + "-" + months[doctor.createdAt.getMonth()] + "-"+doctor.createdAt.getFullYear() %></h6>
                        <hr>
                        <div class="table-responsive">
                            <h4 class="card-title">Statistics</h4>
                            <table class="table table-condensed table-striped">
                                <tbody>
                                    <tr>
                                        <td>Patients</td>
                                        <td><%=patients%></td>
                                    </tr>
                                    <tr>
                                        <td>Prescriptions</td>
                                        <td><%=prescriptions%></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- <hr>
                        <a class="btn btn-danger btn-sm" href="#" id="delete" data-id="<%=doctor._id%>">Delete</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>