<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>teleHealth</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="/admin">teleHealth | Admin</a>
            <ul class="nav navbar-nav">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="/admin">Home</a></li>
                <li class="nav-item" role="presentation"></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/login.html">Logout</a></li>
            </ul><button class="navbar-toggler" data-toggle="collapse"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        </div>
    </nav>
    <div>
        <div class="container">
            <div class="row">
                <% if(messages.success){ %>
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="alert alert-success alert-dismissible">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                      <strong>Success!</strong> <%= messages.success %>
                    </div>
                </div>
                <% } %>
                <div class="col">
                 <h1>Doctors</h1>
                </div>
                <div class="col"><a id="create-doctor-link" href="/admin/admin-create-doctor" class="btn btn-primary">Create Doctor</a></div>
            </div>
        </div>
    </div>
    <div class="row" style="padding:2.5% 5% 2.5% 5%;">
    <% doctors.forEach(function(doctor){ %>
    <div class="col-md-4 col-lg-4 col-sm-12">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Dr. <%= doctor.names%></h4>
                    <h6 class="text-muted card-subtitle mb-2"><%= doctor.license_number%></h6>
                    <h6 class="text-muted card-subtitle mb-2"><%= doctor.speciality%></h6>
                    <h6 class="text-muted card-subtitle mb-2"><%= doctor.hospital%></h6>
                    <a class="btn btn-info btn-sm" href="/admin/admin-doctor-details/<%=doctor._id%>">View</a>
                </div>
            </div>
        </div>
    </div>
    <% }); %> 
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>